<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>btrfs</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleShortVersionString</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>Linux</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Linux</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>btrfs.util</string>
			<key>FSProbeOrder</key>
			<real>1000</real>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>BTRFS</key>
		<dict>
			<key>FSFormatContentMask</key>
			<string>Linux</string>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSName</key>
			<string>BTRFS Filesystem</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>macos-btrfs - Copyleft (ɔ) 2021 Yehia Hafez. All wrongs reserved.</string>
</dict>
</plist>
